In [14]:
import pandas as pd
import os
import requests
import json
from pprint import pprint
#ZHVIAH
api_key = 'cWA44PEoGd6yLPCCzpf3'

In [58]:
temp_df = pd.read_csv('zillowcodes.csv')
temp_df

temp_df.to_csv('zillowcodesclean.csv')

In [60]:
temp_df

             AREA.1 AREA.2  CODE
0           Alameda     CA    16
1            Alpine     CA  1154
2            Amador     CA   710
3             Butte     CA   192
4         Calaveras     CA   634
5            Colusa     CA   898
6      Contra Costa     CA    27
7         Del Norte     CA   805
8         El Dorado     CA   229
9            Fresno     CA    34
10            Glenn     CA   814
11         Humboldt     CA   299
12         Imperial     CA   236
13             Inyo     CA   938
14             Kern     CA    44
15            Kings     CA   274
16             Lake     CA   499
17           Lassen     CA   745
18      Los Angeles     CA     1
19           Madera     CA   277
20            Marin     CA   174
21         Mariposa     CA   945
22        Mendocino     CA   414
23           Merced     CA   171
24            Modoc     CA  1077
25             Mono     CA  1008
26         Monterey     CA   116
27             Napa     CA   297
28           Nevada     CA   378
29           Orange     CA     4
30           Placer     CA   137
31           Plumas     CA   926
32        Riverside     CA     8
33       Sacramento     CA    19
34       San Benito     CA   556
35   San Bernardino     CA     9
36        San Diego     CA     3
37    San Francisco     CA    47
38      San Joaquin     CA    63
39  San Luis Obispo     CA   165
40        San Mateo     CA    61
41    Santa Barbara     CA   114
42      Santa Clara     CA    13
43       Santa Cruz     CA   170
44           Shasta     CA   233
45           Sierra     CA  1148
46         Siskiyou     CA   641
47           Solano     CA   117
48           Sonoma     CA    99
49       Stanislaus     CA    90
50           Sutter     CA   390
51           Tehama     CA   504
52          Trinity     CA  1024
53           Tulare     CA   106
54         Tuolumne     CA   553
55          Ventura     CA    45
56             Yolo     CA   210
57             Yuba     CA   467

In [61]:
code_list = temp_df['CODE'].tolist()

In [62]:
code_list

[16,
 1154,
 710,
 192,
 634,
 898,
 27,
 805,
 229,
 34,
 814,
 299,
 236,
 938,
 44,
 274,
 499,
 745,
 1,
 277,
 174,
 945,
 414,
 171,
 1077,
 1008,
 116,
 297,
 378,
 4,
 137,
 926,
 8,
 19,
 556,
 9,
 3,
 47,
 63,
 165,
 61,
 114,
 13,
 170,
 233,
 1148,
 641,
 117,
 99,
 90,
 390,
 504,
 1024,
 106,
 553,
 45,
 210,
 467]

In [65]:
housing_values = []
county_name = []

for code in code_list:
    
    url = f'https://www.quandl.com/api/v3/datasets/ZILLOW/CO{str(code)}_ZHVIAH?start_date=2018-09-30&end_date=2018-09-30&api_key={api_key}'
    
    temp = requests.get(url).json()
    try:
        
        housing_values.append(temp['dataset']['data'][0][1])
        
    except:
        
        housing_values.append(0)

In [66]:
housing_values

[876500.0,
 0,
 304100.0,
 279800.0,
 291700.0,
 217500.0,
 624700.0,
 0,
 473300.0,
 243000.0,
 213700.0,
 293900.0,
 208800.0,
 342900.0,
 210900.0,
 209600.0,
 245100.0,
 0,
 609600.0,
 246000.0,
 1153200.0,
 242700.0,
 368600.0,
 256700.0,
 0,
 0,
 548500.0,
 665000.0,
 451200.0,
 721200.0,
 480900.0,
 260900.0,
 376500.0,
 362300.0,
 521100.0,
 342400.0,
 589200.0,
 1374800.0,
 357600.0,
 603900.0,
 1391400.0,
 594400.0,
 1298300.0,
 839300.0,
 254300.0,
 0,
 181200.0,
 432200.0,
 642400.0,
 301700.0,
 282400.0,
 0,
 222000.0,
 205700.0,
 0,
 593200.0,
 420300.0,
 255500.0]

In [67]:
house_price_df = pd.DataFrame(columns=['Median Value'])

In [68]:
house_price_df['Median Value'] = housing_values

In [70]:
house_price_df.to_csv('zillow_housing_price.csv')

In [18]:
pprint(test)

{'dataset': {'collapse': None,
             'column_index': None,
             'column_names': ['Date', 'Value'],
             'data': [['2018-09-30', 876500.0]],
             'database_code': 'ZILLOW',
             'database_id': 15209,
             'dataset_code': 'CO16_ZHVIAH',
             'description': "The Zillow Home Value Index is Zillow's estimate "
                            'of the median market value of zillow home value '
                            'index - all homes within the county of Alameda, '
                            'CA. This data is calculated by Zillow Real Estate '
                            'Research (www.zillow.com/research) using their '
                            'database of 110 million homes.',
             'end_date': '2018-09-30',
             'frequency': 'monthly',
             'id': 35426170,
             'limit': None,
             'name': 'Zillow Home Value Index (County): Zillow Home Value '
                     'Index - All Homes - Alameda, CA',
             'newest_available_date': '2018-09-30',
             'oldest_available_date': '1996-04-30',
             'order': None,
             'premium': False,
             'refreshed_at': '2018-11-13T05:15:09.300Z',
             'start_date': '2018-09-30',
             'transform': None,
             'type': 'Time Series'}}

In [27]:
test['dataset']['data'][0][1]

876500.0