In [87]:
import json
import requests
from census import Census
from us import states
from pprint import pprint
import pandas as pd
import matplotlib as plt

In [ ]:
#B25013_004E': Owner occupied Home - High School Graduate,


#'B25013_005E': Owner occupied Home - Some college or associates degree
#'B25013_006E': Owner occupied home - Bachelors or higher
#B25013_008E: Rental occupied housing unit - less than high school
#B25013_009E
#B25013_010E
#B25013_011E

In [6]:
c = Census("cb3da972a3410fea907ff2284991388d72455cad")
test = c.acs.get(('NAME', 'B25034_010E'), {'for': 'state:*'})

In [10]:
pprint(test)

[{'B25034_010E': 95475.0, 'NAME': 'Alabama', 'state': '01'},
 {'B25034_010E': 5585.0, 'NAME': 'Alaska', 'state': '02'},
 {'B25034_010E': 46808.0, 'NAME': 'Arizona', 'state': '04'},
 {'B25034_010E': 51994.0, 'NAME': 'Arkansas', 'state': '05'},
 {'B25034_010E': 859251.0, 'NAME': 'California', 'state': '06'},
 {'B25034_010E': 63224.0, 'NAME': 'Colorado', 'state': '08'},
 {'B25034_010E': 105566.0, 'NAME': 'Connecticut', 'state': '09'},
 {'B25034_010E': 19109.0, 'NAME': 'Delaware', 'state': '10'},
 {'B25034_010E': 38269.0, 'NAME': 'District of Columbia', 'state': '11'},
 {'B25034_010E': 197964.0, 'NAME': 'Florida', 'state': '12'},
 {'B25034_010E': 120550.0, 'NAME': 'Georgia', 'state': '13'},
 {'B25034_010E': 19271.0, 'NAME': 'Hawaii', 'state': '15'},
 {'B25034_010E': 28781.0, 'NAME': 'Idaho', 'state': '16'},
 {'B25034_010E': 333531.0, 'NAME': 'Illinois', 'state': '17'},
 {'B25034_010E': 169599.0, 'NAME': 'Indiana', 'state': '18'},
 {'B25034_010E': 74567.0, 'NAME': 'Iowa', 'state': '19'},
 {'B25034_010E': 74536.0, 'NAME': 'Kansas', 'state': '20'},
 {'B25034_010E': 92386.0, 'NAME': 'Kentucky', 'state': '21'},
 {'B25034_010E': 92678.0, 'NAME': 'Louisiana', 'state': '22'},
 {'B25034_010E': 35632.0, 'NAME': 'Maine', 'state': '23'},
 {'B25034_010E': 133511.0, 'NAME': 'Maryland', 'state': '24'},
 {'B25034_010E': 165024.0, 'NAME': 'Massachusetts', 'state': '25'},
 {'B25034_010E': 360520.0, 'NAME': 'Michigan', 'state': '26'},
 {'B25034_010E': 112538.0, 'NAME': 'Minnesota', 'state': '27'},
 {'B25034_010E': 47361.0, 'NAME': 'Mississippi', 'state': '28'},
 {'B25034_010E': 138238.0, 'NAME': 'Missouri', 'state': '29'},
 {'B25034_010E': 25196.0, 'NAME': 'Montana', 'state': '30'},
 {'B25034_010E': 40561.0, 'NAME': 'Nebraska', 'state': '31'},
 {'B25034_010E': 13484.0, 'NAME': 'Nevada', 'state': '32'},
 {'B25034_010E': 22993.0, 'NAME': 'New Hampshire', 'state': '33'},
 {'B25034_010E': 277896.0, 'NAME': 'New Jersey', 'state': '34'},
 {'B25034_010E': 37064.0, 'NAME': 'New Mexico', 'state': '35'},
 {'B25034_010E': 694929.0, 'NAME': 'New York', 'state': '36'},
 {'B25034_010E': 164893.0, 'NAME': 'North Carolina', 'state': '37'},
 {'B25034_010E': 16462.0, 'NAME': 'North Dakota', 'state': '38'},
 {'B25034_010E': 327211.0, 'NAME': 'Ohio', 'state': '39'},
 {'B25034_010E': 95874.0, 'NAME': 'Oklahoma', 'state': '40'},
 {'B25034_010E': 92118.0, 'NAME': 'Oregon', 'state': '41'},
 {'B25034_010E': 440744.0, 'NAME': 'Pennsylvania', 'state': '42'},
 {'B25034_010E': 33373.0, 'NAME': 'Rhode Island', 'state': '44'},
 {'B25034_010E': 69312.0, 'NAME': 'South Carolina', 'state': '45'},
 {'B25034_010E': 18739.0, 'NAME': 'South Dakota', 'state': '46'},
 {'B25034_010E': 136625.0, 'NAME': 'Tennessee', 'state': '47'},
 {'B25034_010E': 377072.0, 'NAME': 'Texas', 'state': '48'},
 {'B25034_010E': 37805.0, 'NAME': 'Utah', 'state': '49'},
 {'B25034_010E': 10633.0, 'NAME': 'Vermont', 'state': '50'},
 {'B25034_010E': 160197.0, 'NAME': 'Virginia', 'state': '51'},
 {'B25034_010E': 145955.0, 'NAME': 'Washington', 'state': '53'},
 {'B25034_010E': 67960.0, 'NAME': 'West Virginia', 'state': '54'},
 {'B25034_010E': 153101.0, 'NAME': 'Wisconsin', 'state': '55'},
 {'B25034_010E': 12439.0, 'NAME': 'Wyoming', 'state': '56'},
 {'B25034_010E': 54897.0, 'NAME': 'Puerto Rico', 'state': '72'}]

In [42]:
test2 = c.acs.zipcode(('NAME','B25013_003E', 'B25013_004E','B25013_005E','B25013_006E','B25013_008E','B25013_009E','B25013_010E',
                      'B25013_011E'), '92131', year=2011)

In [43]:
test3 = c.acs.zipcode(('NAME','B25013_003E', 'B25013_004E','B25013_005E','B25013_006E','B25013_008E','B25013_009E','B25013_010E',
                      'B25013_011E'), '92131', year=2012)

In [46]:
test4 = c.acs.zipcode(('NAME','B25013_003E', 'B25013_004E','B25013_005E','B25013_006E','B25013_008E','B25013_009E','B25013_010E',
                      'B25013_011E'), '92104', year=2012)

In [47]:
pprint(test4)

[{'B25013_003E': 248.0,
  'B25013_004E': 454.0,
  'B25013_005E': 1662.0,
  'B25013_006E': 3416.0,
  'B25013_008E': 1722.0,
  'B25013_009E': 2584.0,
  'B25013_010E': 5794.0,
  'B25013_011E': 4728.0,
  'NAME': 'ZCTA5 92104',
  'zip code tabulation area': '92104'}]

In [27]:
pprint(test2[0]['NAME'])

'ZCTA5 92131'

In [68]:
pprint(test2)

[{'B25013_003E': '175',
  'B25013_004E': '363',
  'B25013_005E': '2186',
  'B25013_006E': '7168',
  'B25013_008E': '36',
  'B25013_009E': '329',
  'B25013_010E': '542',
  'B25013_011E': '961',
  'NAME': 'ZCTA5 92131',
  'zip code tabulation area': '92131'}]

In [63]:
df = pd.DataFrame

In [50]:
df = df.append(test3)

In [51]:
df = df.append(test4)
df

,B25013_003E,B25013_004E,B25013_005E,B25013_006E,B25013_008E,B25013_009E,B25013_010E,B25013_011E,NAME,zip code tabulation area
0,175,363,2186,7168,36,329,542,961,ZCTA5 92131,92131
0,244,329,1958,7166,65,301,668,1100,ZCTA5 92131,92131
0,248,454,1662,3416,1722,2584,5794,4728,ZCTA5 92104,92104

In [ ]:
df.loc[df['Year']]

In [62]:
years = [2011, 2012, 2013, 2014]
zips = ['92104', '92131', '92117']

In [60]:
df

,B25013_003E,B25013_004E,B25013_005E,B25013_006E,B25013_008E,B25013_009E,B25013_010E,B25013_011E,NAME,zip code tabulation area,Year
0,175,363,2186,7168,36,329,542,961,ZCTA5 92131,92131,2013
0,244,329,1958,7166,65,301,668,1100,ZCTA5 92131,92131,2013
0,248,454,1662,3416,1722,2584,5794,4728,ZCTA5 92104,92104,2013

In [81]:
housing_df = pd.DataFrame
temp_df = pd.DataFrame
count = 0
for z in zips:
    
    for year in years:
        
        data = c.acs.zipcode(('NAME','B25013_003E', 'B25013_004E','B25013_005E','B25013_006E','B25013_008E','B25013_009E','B25013_010E',
                      'B25013_011E'), z, year=year)
        
        temp_df = pd.DataFrame(data)
        temp_df['Year'] = str(year)
        
        if count == 0:
            
            housing_df = pd.DataFrame(temp_df)
            
        if count > 0:
            
            housing_df = housing_df.append(temp_df)
            
        count +=1

In [91]:
housing_df = housing_df.rename(columns={'B25013_003E': 'Owner - No High School', 'B25013_004E': 'Owner - High School',
                                        'B25013_005E': 'Owner - Some College or Associates Deg', 'B25013_006E': 'Owner - Bachelors',
                                       'B25013_008E': 'Renter - No High School', 'B25013_009E': 'Renter - High School',
                                        'B25013_010E': 'Renter - Some College or Associates Deg', 'B25013_011E': 'Renter - Bachelors'
                                       })

In [94]:
housing_new = housing_df.set_index('Year')
housing_new

,Owner - No High School,Owner - High School,Owner - Some College or Associates Deg,Owner - Bachelors,Renter - No High School,Renter - High School,Renter - Some College or Associates Deg,Renter - Bachelors,NAME,zip code tabulation area
Year,,,,,,,,,,
2011,301,511,1692,3383,1714,2676,5690,4184,ZCTA5 92104,92104
2012,248,454,1662,3416,1722,2584,5794,4728,ZCTA5 92104,92104
2013,237,509,1666,3819,1348,2762,5410,5066,ZCTA5 92104,92104
2014,267,600,1669,3922,1530,2423,5218,5056,ZCTA5 92104,92104
2011,175,363,2186,7168,36,329,542,961,ZCTA5 92131,92131
2012,244,329,1958,7166,65,301,668,1100,ZCTA5 92131,92131
2013,231,352,1781,7013,36,240,719,1261,ZCTA5 92131,92131
2014,231,349,1728,6769,42,276,732,1339,ZCTA5 92131,92131
2011,749,1939,4324,5288,1224,1264,3005,2758,ZCTA5 92117,92117
2012,772,1689,4211,5372,1100,1173,3064,3038,ZCTA5 92117,92117
2013,705,1775,4488,5185,1198,1235,2968,3036,ZCTA5 92117,92117
2014,696,1649,4278,5364,896,1237,3086,3328,ZCTA5 92117,92117

In [ ]:
r_1 = []
r_2 = []
r_3 = []
r_4 = []

o_1 = []
o_2 = []
o_3 = []
o_4 = []


for z in zips:
    
    loop_df = housing_df.loc[housing_df['zip code tabulation area'] == z]
    
    for index, row in loop_df.iterrows():

In [93]:
housing_df.loc[housing_df['zip code tabulation area'] == '92104']

KeyError: 0